$bgColor: #f8f8f8;
$text: black;
$optionText: #7e7e82;

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: white;
  color: $text;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin flex-center($direction: row) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
}
@mixin flex-between($direction: row) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
  justify-content: space-between;
}



.all-contents {
    position: relative;
}
.sidebar.open .main-contents {
    overflow-y: hidden;
}
/*sidebar css*/
.sidebar {
   width: 100vw;
   top: 0;
   height: 100vh;
   overflow-y: hidden;
   height: 100vh;
   max-height: 900px;
   padding: 20px;
   position: fixed;
   flex-shrink: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: white;
   z-index: 2000;
   transform: translateX(-100%);
   transition: transform 0.3s ease;
   
   



    &__header {
    @include flex-center;
    margin-bottom: 50px;
    }
    &__menus {
    margin-bottom: 50px;
   }
}
    
.group {
    margin-left: 20px;
    margin-right: 75px;
}
.all-menus {
    font-size: 18px;
    color: black;
    margin-bottom: 30px;
    transition: all 0.2s ease;
    
    &:hover {
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-weight: 500;
    cursor: pointer;
   }
}
.menu-services {
    margin-top: -15px;
}
.menu-repair {
    color: gray;
    margin-left: -24px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    margin-bottom: 28px;
}
.footer-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.company-phone {
    font-size: 26px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 40px;
}
.language {
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.language__option {
    transition: all 0.2s ease;
    
    &:hover {
    color: gray;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
 
  .sidebar.show-mobile {
    transform: translateX(0);
    overflow-y: auto;
}
}

@media (min-width: 768px) {
    .sidebar {
        width: 320px;
        transform: translateX(0);
        opacity: 1;
        overflow-y: auto;
    }
    .burger-icon {
        display: none;
    }
}   





/* first container css*/


.first-container {
    padding: 20px;
    margin: 0;
    min-width: 320px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
}
.request,
.status,
.icon-1,
.icon-2,
.mobile-hidden,
.brands,
.additional,
.review,
.description__second-para {
    display: none;
}
.icons {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    align-items: center;   
}
.icons__right, 
.icons__left {
    @include flex-between;
    flex-direction: row;
    width: 50%;   
}
.icons__left {
    margin-left: 15px;
}
.company-logo {
    width: 80px;
}
.desktop-hidden5 {
    display: inline-flex;
}
.desktop-visible5 {
    display: none;
}
.header-title {
    font-size: 28px;
    font-weight: 700;
    border-left: 4px solid #88daf3;
    padding-left: 30px;
    width: 400px;
    margin-left: -20px;
}
.background {
    background-color: #F8F8F8;
    padding-top: 20px;
}
.service-options {
    color: #7E7E82;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 40px;
}
.devices {
    height: 40px;
    padding: 5px 10px 10px 5px;
    border: 2px solid #B8FFEC;
    border-radius: 8px;
    background-color: white;
}

.description {
    word-spacing: 2px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.5;
    
}
.read:hover {
    cursor: pointer;
    color: blue;
    object-fit: contain;
}
.company-banner{
    width: 100%;
    display: inline-block;
}
.main-contents {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 20px;
    flex: 1;
    max-width: 1100px;
    background-color: $bgColor;
}
.hidden-para {
        display: none;
    }

.icon {
    display: inline-block;
    transition: transform 0.3s ease;
}
.more {
    @include flex-center;
    gap: 6px;
    justify-content: flex-start;
    border: none;
    background-color: #F8F8F8;
    margin: auto;
    margin-left: 0px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}
.more.expanded .icon {
    transform: rotate(180deg);
}
@media (min-width: 768px) {
    .main-contents {
        margin-left: 320px;
    
    }
    .devices {
        height: 40px;
        padding: 5px 10px 10px 5px;
        border: 2px solid #B8FFEC;
        border-radius: 8px;
        background-color: white;
    }
    .brands,
    .additional,
    .desktop-hidden5 {
        height: 40px;
        padding: 5px 10px;
    }
    .mobile-hidden,
    .additional {
        display: inline-flex;
    } 
    .brands,
    .span-1 {
        display: none;
    }
    .brands {
        border: 2px solid #B8FFEC;
        background-color: white;
        border-radius: 8px;
    }
    .service-options {
        display: flex;
        flex-direction: row;  
        justify-content: space-between;
        padding-left: 20px;
        text-wrap: nowrap;
        width: 100%;
        height: 50px;
        max-width: 1000px;
        margin-bottom: 20px;
    }
    .icons {
        display: flex;
        justify-content: space-between;
    }
    .right-icons {
        max-width: 150px;
    }
    .left-icons {
        max-width: 300px;
    }
    .details {
        width: 50%;
        flex: 1;
    }
    .description__first-para {
        margin-bottom: 30px;
    }
    .company-banner {
        flex: 1;
        width: 100%;
        height: auto;

    }
    .banner {
        flex: 1;
        align-self: flex-start;
    }
    .history {
        display: flex;
        flex-direction: row;
        padding: 0 20px 20px 0;
    }

    .desktop-visible5 {
    display: none;
}
}

@media (min-width: 1120px) {
    .icons {
        display: none;
    }
    .desktop-hidden5 {
    display: none;
    }
    .desktop-visible5 {
        display: inline-flex;
    }
    .span-1 {
        display: inline;
    }
    .review {
        display: block;
        color: #7E7E82;
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 10px;
        height: 30px;
        padding: 5px 10px;
        width: 150px;
        @include flex-center;
    }
    .request,
    .status,
    .icon-1,
    .icon-2 {
        display: inline-block;
    }
    .header,
    .extra-services {
    @include flex-between;
    }
    .submit, 
    .repair {
        @include flex-center;
        gap: 8px;
        cursor: pointer;
    }
    .submit:hover, 
    .repair:hover {
        color: blue;
    }
    .submit {
        margin-right: 20px;
    }
    .service-options {
        @include flex-between;
        text-wrap: nowrap;
        margin-right: 30px;
    }
    .brands {
        display: inline-block;
        height: 30px; 
        
    }
    .hidden-para.para-show {
        display: inline-block;
    }

    .description__second-para {
        display: inline;
        margin-bottom: 20px;
    }
    .devices,
    .brands,
    .additional {
        height: 40px;
        padding: 5px 10px;
    }
    .repair {
        padding-right: 40px;
    }       
    .devices {
        border: none;
        background-color: $bgColor;
    }
}













/*second-container*/

.second-container {
    padding: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
    height: 180px;
    position: relative;
    max-width: 100%;
}
.brand-title {
    margin-bottom: 25px;
    line-height: 24px;
    letter-spacing: 0.4px;
    display: flex;
}
.swiper-wrapper1 {
    width: 100%;
}
.brand {
    padding: 10px;
    @include flex-between;
    width: 240px;
    max-width: 250px;
    height: 72px;
    background-color: white;
    flex-shrink: 0;
    border-radius: 10px;   
    border: 1px solid rgb(223, 221, 221);
}
.logos {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.swiper-wrapper{
    gap: 20px;
}
.toggle-button1 {
    display: none;
}
.logos.swiper-pagination.dot-slider {
    position: absolute;
    width: 8px;
    bottom: 50px;
    margin-bottom: 10px;
  }

@media (min-width: 768px) {
    .second-container {
        padding: 40px 20px;
        height: auto;
        margin-bottom: 20px;
    }

    .swiper-wrapper1 {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .brand {
        margin-right: 0;
        margin-bottom: 0;
        flex: 0 0 calc((100% - 40px) / 3);
        width: auto;
    }
    .tablet-hidden1 {
        display: none;
    }
    .tablet-hidden1.show {
        display: inline-flex;
    }
    .arrow1 {
        display: inline-block;
        transition: transform 0.3s ease;
    }
    .toggle-button1.expanded .arrow1 {
        transform: rotate(180deg);
    }
    
    .toggle-button1 {
        @include flex-center;
        gap: 6px;
        justify-content: flex-start;
        border: none;
        background-color: $bgColor;
        margin: auto;
        margin-left: 0px;
        margin-top: 30px;
        cursor: pointer;
        font-size: 16px;
    }
    .dot-slider {
        display: none;
    }
}
@media (min-width: 1120px) {
 
    .brand {
        flex: 0 0 calc((100% - 60px) / 4);
    }
    .desktop-hidden1 {
        display: none;
    }
    .desktop-hidden1.show {
        display: inline-flex;
    }
    .desktop-visible {
        display: inline-flex;
    }
    .first-container,
    .second-container,
    .third-container {
    border-bottom: 1px solid rgb(196, 238, 248);
   }

}






/*third container*/

.third-container {
  padding: 30px;
  margin-left: 20px;
  margin-bottom: 40px;
  height: 250px;
  position: relative;

}

  .swiper {
    width: 100%;
    height: 100%;
  }
  .toggle-button2 {
    display: none;
  }
  .swiper-pagination {
    @include flex-center;
    padding-top: 50px;
  }
  .swiper2.swiper-pagination.dot-slider {
    position: absolute;
    width: 8px;
    bottom: 50px;
    margin-bottom: 10px;
  }
  .swiper-slide2 {
    box-sizing: border-box;
    border: 1px solid lightgray;
    flex-shrink: 0;
    width: 26px;
    max-width: 250px;
    padding: 20px;
    max-height: 150px;
    border-radius: 10px;
    background-color: white;
    text-wrap: nowrap;
    position: relative;
    display: flex;
  }
  .equipment-arrow {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  .repair-container {
    margin-bottom: 30px;
    display: flex;
  }
  .swiper2 {
    display: flex;
    flex-direction: row;
  }
  

@media (min-width: 768px) {
  .third-container {
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .swiper-wrapper2 {
    display: flex;
    flex-wrap: wrap;
  }
   .swiper-slide2 {
    margin-right: 0;
    margin-bottom: 0;
    width: auto;
    flex: 0 0 calc((100% - 40px) / 3);
    height: 150px;
  }
  .swiper-pagination,
  .dot-slider {
    display: none;
  }
  .equipment-arrow {
    margin-top: 55px;
    margin-left: 145px;
  }
  
  .toggle-button2.expanded .arrow2 {
    transform: rotate(180deg);
  }
  .toggle-button2 {
    @include flex-center;
    gap: 6px;
    justify-content: flex-start;
    border: none;
    background: none;
    opacity: 1;
    margin: auto;
    margin-left: 0px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  .tablet-hide {
    display: none;
  }
  .tablet-hide.repair-show {
    display: inline-flex;
  }
}
@media (min-width: 1120px) {
  .swiper-slide2 {
    margin-right: 0;
    margin-bottom: 0;
    flex: 0 0 calc((100% - 60px) / 4);
    height: 150px;
  }
  .desktop-ok {
     display: inline;
  }
  .swiper-slide2 {
    width:auto;
    height: 150px;
  }
}













/*fourth container*/


.fourth-container {
    padding: 20px;
    margin-top: 40px;
    height: 300px;
    position: relative;
}
.price-title {
    margin-left: 20px;
}

@media (max-width: 767px) {

.swiper-slide3 {
    background-color: white;
    height: 220px;
    max-width: 290px;
    box-sizing: border-box;
    padding: 20px;
    text-wrap: nowrap;
    border-radius: 16px;

}
.swiper-wrapper3 {
    margin-left: 30px;
}

hr {
    opacity: 0;
}
.gray-title{
    color: gray;
}
.service-class {
    margin-bottom: 20px;
}
.price-class,
.term-class {
    margin-bottom: 10px;
}
.term-class,
.img {
    display: inline-block;
}
.term-class {
    margin-right: 20px;
}
.mobile-none {
    display: none;
}
.swiper {
    height: 100%;
    width: 100%;
}
.swiper3.swiper-pagination.dot-slider {
    position: absolute;
    width: 8px;
    bottom: 50px;
    margin-bottom: 10px;

}
.swiper-pagination {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
}
@media (min-width:768px) {
    .price-title {
        margin-left: 20px;
    }
    .fourth-container {
        height: auto;
    }
    .fourth-container {
        margin-top: 20px;
    }
    .swiper-slide3 {
        background-color: white;
    }
    .desktop-vanish {
        display: none;
    }
    .swiper-pagination,
    .next,
    .prev {
        display: none;
    }
    hr {
        opacity: 1;
        height: 1px;
        display: flex;
        background-color: lightgray;
        border: none;
        margin: 0;
        margin-left: 20px;
        max-width: 1000px;
    }
    .fourth-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .swiper-wrapper3,
    .mobile-none {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        gap: 0;
    }
    .swiper-wrapper .swiper-slide3 {
        
        display: grid;
        grid-template-columns: 3fr 1.5fr 1.5fr 0.8fr;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 20px;
        max-width: 1020px;
        box-sizing: border-box;
    }
    .swiper {
        width: 100%;
    }

    .img {
        display: block;
    }
    .mobile-none {
        background-color: #f8f8f8;;
    }
    
}


/*bottoms*/
.vat-details {
    display: flex;
    margin-left: 40px;
    margin-top: 50px;
}
@media (min-width:768px) {
.vat-details {  
    max-width: 495px;
} 
}

.proposal {
   display: flex;
   width: 190px;
   margin-left: 40px;
   align-items: flex-end;
   font-size:20px;
}
.proposal-link {
    margin-top: 30px;
    margin-bottom: 70px;
}
.more-icon {
    width: 24px;
    height: 24px;
}
@media (min-width:768px) {
.proposal {
    width: 350px;
    align-items: center;
    justify-content: space-between;
}
}


.footers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
    margin-left: 40px;
    gap: 30px;
}
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
@media (min-width:768px) {
    .footers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
            
    }
}